.van-nav-bar__text{
    color:#2fb97f !important;
    font-size: 18px;
}
.van-nav-bar__right{
    font-size: 28px !important;
}
.van-icon{
    color:#2fb97f !important;
}
.van-icon-arrow-left{
    font-size: 24px !important;
}
